<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-DMIT2018_WebApp_Template-20201007025344.mdf;Initial Catalog=aspnet-DMIT2018_WebApp_Template-20201007025344;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="ChinookDB"
      connectionString="Data Source=.; Initial Catalog=Chinook; Integrated Security=true;"
      providerName="System.Data.Sqlclient"/>
  
</connectionStrings>

